APP_ENV=dev

# Database configuration
DB_SERVER=mysql
DB_NAME=prestashop
DB_USER=prestashop
DB_PASSWD=prestashop

# PrestaShop installation
PS_INSTALL_AUTO=1
PS_COUNTRY=PL
PS_LANGUAGE=pl
PS_CURRENCY=PLN

# Admin configuration
PS_FOLDER_ADMIN=admin101kepwtr0m7w8d3ko0
ADMIN_MAIL=demo@prestashop.com
ADMIN_PASSWD=prestashop_demo


